:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004494;
}
